body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container .address {
    display: flex;
}
.header .nav {
    display: flex;
    align-items: center;
}
.nav-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.nav-logo>.accent {
    color: #2e2f42;
}
.nav>.subnav {
    gap: 40px;
    margin-left: 76px;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.nav .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
}
.nav .nav-link:hover,
.nav .nav-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    line-height: 1.5;
}
.address .link-add {
    color: #434455;
}
.address .subaddress {
    display: flex;
    gap: 40px;
}
.address .link-add:hover,
.address .link-add:focus {
    color: #404bbf;
}
.main-page {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}
.main-container {
padding-top: 188px;
padding-right: 472px;
padding-bottom: 48px;
padding-left: 472px;
}
.page-title {
    color:#ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}
.button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    display: block;
    min-width: 169px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    margin-bottom: 188px;
    border: none;
    border-radius: 4px;
}
.main-page .button:hover,
.main-page .button:focus {
    background-color: #404bbf;
}
.post-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
}
.post {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-right: 156px;
    padding-bottom: 120px;
    padding-left: 156px;
}
.post-list {
    width: calc((100% - 72px) / 4);
}
.name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.team-page {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-right: 156px;
    padding-bottom: 120px;
    padding-left: 156px;
}
.team-page .team-title {
    text-align: center;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 162px;
    margin: 0 auto 72px;
}
.team-page .team {
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.team-page .team-list {
    background-color: #FFFFFF;
}
.team-page .team-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}
.team-page .team-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #434455;
    text-align: center;
}
.portfolio-page {
    padding-top: 120px;
    padding-right: 156px;
    padding-bottom: 120px;
    padding-left: 156px;
}
.portfolio-page .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 218px;
    margin: 0 auto 72px;
}
.portfolio-page .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between; 
}
.portfolio-list .port-im {
    width: 360px;
    height: 300px;
}
.portfolio-list .port-title {
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.portfolio-list .port-text {
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer .foot-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.foot-logo>.accent {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

